<div id="title" class="u-max-full-width">
  <h3 class="title-header">
    <%= link_to image_tag("logo.png", :alt => "Logo", :class => "logo"), lxd_index_path -%>
    <%= link_to "LXWeb", lxd_index_path, :class => "web-title" -%>
  </h3>
  <span class="subtitle-header">Web Interface for LXD Containers</span>
  <%= link_to "Logout", ip_logout_path, :method => :put, :class => "u-pull-right logout" %>
</div>

<div class="container u-max-full-width">
  <h5 class="current-page main-header">Container Info</h5>
  <div id="accordion">
    <div class="detail">
      <table width="90%">
        <tbody>
          <tr>
            <th>Name</th>
            <td colspan="2"><%= @containerDetail[:name] %></td>
          </tr>
          <tr>
            <th>Status</th>
            <td colspan="2"><%= @containerDetail[:status] %></td>
          </tr>
          <tr>
            <th>Architecture</th>
            <td colspan="2"><%= @containerDetail[:architecture] %></td>
          </tr>
          <tr>
            <th rowspan="7">Image</th>
            <tr colspan="2">
              <th>Architecture</th>
              <td><%= @containerDetail[:config][:"image.architecture"] %></td>
            </tr>
            <tr colspan="2">
              <th>Label</th>
              <td><%= @containerDetail[:config][:"image.label"] %></td>
            </tr>
            <tr colspan="2">
              <th>OS</th>
              <td><%= @containerDetail[:config][:"image.os"] %></td>
            </tr>
            <tr colspan="2">
              <th>Release</th>
              <td><%= @containerDetail[:config][:"image.release"] %></td>
            </tr>
            <tr colspan="2">
              <th>Serial</th>
              <td><%= @containerDetail[:config][:"image.serial"] %></td>
            </tr>
            <tr colspan="2">
              <th>Version</th>
              <td><%= @containerDetail[:config][:"image.version"] %></td>
            </tr>
          </tr>
        </tbody>
      </table>
    </div>

    <% if @containerDetail[:status] == "Running" %>
      <div id="terminal-container"></div>
    <% end %>

  </div>
</div>

<script>
var term,
    protocol,
    socketURL,
    socket,
    pid;

var terminalContainer = document.getElementById('terminal-container');

createTerminal();
console.log('<%= @websocket -%>');
console.log('<%= @address -%>');

function createTerminal() {
  
  while (terminalContainer.children.length) {
    terminalContainer.removeChild(terminalContainer.children[0]);
  }
  term = new Terminal();
  protocol = (location.protocol === 'https:') ? 'wss://' : 'ws://';
  socketURL = '<%= @websocket -%>';
  
  term.open(terminalContainer);
  term.fit();

  fetch('<%= @address -%>', {method: 'POST'}).then(function (res) {
    res.text().then(function (pid) {
      window.pid = pid;
      socketURL += pid;
      socket = new WebSocket(socketURL);
      socket.onopen = runRealTerminal;
    });
});
}

function runRealTerminal() {
  term.attach(socket);
  term._initialized = true;
}

</script>
