<div id="title" class="u-max-full-width">
    <h3 class="title-header">
        <%= link_to image_tag("logo.png", :alt => "Logo", :class => "logo"), lxd_index_path -%>
        <%= link_to "LXWeb", root_path(), :class => "web-title" -%> 
    </h3>
    <span class="subtitle-header">Web Interface for LXD Containers</span>
</div>

<div class="container u-max-full-width">
    <div class="row main-header">
        <div class="nine columns">
            <%= form_tag(lxd_create_path(), method: "post", class: "machine") do %>
                <%= label_tag("Machine", "Machine:", :class => "machineLabel") %>
                <%= select_tag(:name, options_for_select(@machines, @selected = @machine), class:"u-max-full-width chooseMachine", :onChange => "javascript: location ='/ip/change/' + this.value")  %>
                <%= link_to "New", ip_new_path(), :class => "button"%>
            <% end %>

        </div>
        <div class="three columns">
            <%= link_to button_tag("Add Container", class: "add-new-button button-primary"), lxd_new_path(), class: "add-container-link", :method => :get -%>
        </div>
    </div>
    <div class="u-full-width">
        <table class="u-full-width">
            <thead class="u-max-full-width">
                <tr>
                    <th>Name</th>
                    <th>State</th>
                    <th>IPv4</th>
                    <th>IPv6</th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="u-full-width">
            <% @details.each do |name, detail|  %>
                <tr>
                    <td><a class="container-link" href="#"><%= name %></a></td>
                    <td><%= detail[:status] %></td>
                    <% unless  @states[name][:network].nil? %>
                        <td><%= @states[name][:network][:eth0][:addresses][0][:address] unless @states[name][:network][:eth0][:addresses].size == 1 %></td>
                        <td><% if @states[name][:network][:eth0][:addresses].size == 1 %>
                                <%= @states[name][:network][:eth0][:addresses][0][:address] %>
                            <% else %>
                                <%= @states[name][:network][:eth0][:addresses][1][:address] %>
                            <% end %>
                        </td>
                    <% else %>
                        <td style="color: lightgray">Not available</td>
                        <td style="color: lightgray">Not available</td>
                    <% end %>
                    <td>
                        <div class="tooltip">
                            <% if detail[:status] != "Running" %>
                                <%= link_to image_tag("start.png", :alt => "Start", :class => "icons"), lxd_start_path(name, @name), :method => :put -%>
                                <span class="tooltiptext">Start</span>
                            <% else %>
                                <%= link_to image_tag("stop.png", :alt => "Stop", :class => "icons"), lxd_stop_path(name, @name), :method => :put -%>
                                <span class="tooltiptext">Stop</span>
                            <% end %>
                        </div>
                        <div class="tooltip">
                            <% if detail[:status] == "Running" %>
                                <%= link_to image_tag("restart.png", :alt => "Restart", :class => "icons"), lxd_restart_path(name, @name),:method => :put -%>
                                <span class="tooltiptext">Restart</span>
                            <% else %>
                                <%= image_tag("restart-disabled.png", :alt => "Restart", :class => "icons") -%>
                                <span class="tooltiptext">Container is stopped.</span>
                            <% end %>
                        </div>
                        <div class="tooltip">
                            <% if detail[:status] != "Running" %>
                                <%= link_to image_tag("delete.png", :alt => "Delete", :class => "icons"), lxd_delete_path(name, @name),:method => :delete, data: { confirm: "Are you sure?" } -%>
                                <span class="tooltiptext">Delete</span>
                            <% else %>
                                <%= image_tag("delete-disabled.png", :alt => "Delete", :class => "icons") -%>
                                <span class="tooltiptext">Container is running.</span>
                            <% end %>
                        </div>
                    </td>
                </tr>
            <% end %>
            </tbody>
        </table>
    </div>
</div>





